---
import Layout from "../layouts/Layout.astro";

import ButtonGroup from "../components/ButtonGroup.astro";
import ButtonLink from "../components/ButtonLink.astro";
import Icon from "../components/Icon.astro";
import Link from "../components/Link.astro";
import VisuallyHidden from "../components/VisuallyHidden.astro";

const URL_PREFIX = "https://github.com/martpie/museeks/releases/download/";
const VERSION = "0.22.3";
---

<Layout
  title="Museeks - A simple, clean and cross-platform music player"
  description="Museeks is a simple, clean and cross-platform music player, focusing on simple features, well crafted."
>
  <div class="container">
    {/* SCREENSHOT */}
    <div class="screenshotWrapper">
      <img
        class="screenshot"
        src="./screenshot.png"
        alt="A screenshot of Museeks"
      />
    </div>

    {/* MAIN (left content) */}
    <main class="main">
      <div class="downloads">
        <h2 class="downloadsTitle">
          A simple, clean and cross-platform music player
        </h2>

        <p class="downloadsMetas textMuted">
          latest version: {VERSION}
          |
          <Link
            href={`https://github.com/martpie/museeks/releases/tag/${VERSION}`}
            openInNewTab
          >
            changes
          </Link>
          |
          <Link href="https://github.com/martpie/museeks/releases" openInNewTab>
            other releases
          </Link>
        </p>

        <div class="allDownloads">
          {/* MAC */}
          <div class="downloadsLinks">
            <Icon class="osIcon" name="apple" />
            <ButtonGroup>
              <ButtonLink
                href={`${URL_PREFIX}${VERSION}/Museeks_${VERSION}_universal.dmg`}
                use="primary"
                expand
              >
                Apple Silicon / Intel
              </ButtonLink>
            </ButtonGroup>
          </div>

          {/* WINDOWS */}
          <div class="downloadsLinks">
            <Icon class="osIcon" name="windows11" />
            <ButtonGroup>
              <ButtonLink
                href={`${URL_PREFIX}${VERSION}/Museeks_${VERSION}_x64-setup.exe`}
                use="primary"
                expand
              >
                Windows 64bit
              </ButtonLink>
            </ButtonGroup>
          </div>

          {/* LINUX */}
          <div class="downloadsLinks">
            <Icon class="osIcon" name="linux" />
            <ButtonGroup>
              <ButtonLink
                href={`${URL_PREFIX}${VERSION}/Museeks_${VERSION}_amd64.AppImage`}
                use="primary"
                expand
              >
                AppImage 64bit
              </ButtonLink>
            </ButtonGroup>
            <ButtonGroup>
              <ButtonLink
                href={`${URL_PREFIX}${VERSION}/Museeks_${VERSION}_amd64.deb`}
                use="secondary"
                expand
              >
                .deb
              </ButtonLink>
              <ButtonLink
                href={`${URL_PREFIX}${VERSION}/Museeks-${VERSION}-1.x86_64.rpm`}
                use="secondary"
                expand
              >
                .rpm
              </ButtonLink>
            </ButtonGroup>
            <ButtonGroup>
              <ButtonLink
                href={`${URL_PREFIX}${VERSION}/museeks.flatpak`}
                use="secondary"
                expand
              >
                Flatpak
              </ButtonLink>
              <ButtonLink href="" use="secondary" expand disabled>
                Flathub (soon)
              </ButtonLink>
            </ButtonGroup>
          </div>
        </div>

        {/* FOOTER */}
        <footer class="footer">
          <div class="links">
            <a href="https://x.com/museeks">
              <Icon class="linksIcon" name="twitter" />
              <VisuallyHidden>X</VisuallyHidden>
            </a>
            <a
              href="https://github.com/martpie/museeks"
              title="Bugs reports, features requests and sources"
            >
              <Icon class="linksIcon" name="github" />
              <VisuallyHidden>Twitter</VisuallyHidden>
            </a>
          </div>
          <div class="madeBy textMuted">
            made with <span class="heart">♥</span> by{" "}
            <Link href="https://martpie.io" openInNewTab>@martpie</Link>{" "}
            and{" "}
            <Link
              href="https://github.com/martpie/museeks/graphs/contributors"
              openInNewTab
            >
              awesome people
            </Link>
          </div>
        </footer>
      </div>
    </main>
  </div>
</Layout>

<style scoped>
  body {
    overflow-x: hidden;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
  }

  @media (min-width: 1024px) {
    .container {
      flex-direction: row-reverse;
    }
  }

  .screenshotWrapper {
    position: relative;
  }

  .screenshot {
    width: 1057px; /* 703px height */
    max-width: 100%;
    height: auto;
  }

  @media (min-width: 1024px) {
    .screenshotWrapper {
      flex: 1.5 0 auto;
      max-width: 700px;
    }

    .screenshot {
      position: absolute;
      margin-left: auto;
      margin-top: auto;
      margin-bottom: auto;
      right: 0;
      top: 0;
      bottom: 0;
      min-width: 550px;
      transition: transform ease-in-out 0.25s;
      transform: translateX(50%);
    }

    .screenshot:hover {
      transform: translateX(0);
    }
  }

  @media (min-width: 1200px) {
    .screenshot {
      min-width: 850px;
    }
  }

  @media (min-width: 1400px) {
    .screenshot {
      min-width: 1057px;
    }
  }

  .main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 3;
  }

  .downloads {
    width: 680px;
    max-width: 100%;
    margin: auto;
  }

  .downloadsTitle {
    margin-top: 0;
    text-align: center;
    font-weight: normal;
  }

  .downloadsMetas {
    text-align: center;
    margin-bottom: 30px;
  }

  .allDownloads {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: 1024px) {
    .allDownloads {
      flex-direction: row;
    }
  }

  .downloadsLinks {
    flex: 1 0 0;
    min-width: 0;
    margin-bottom: 40px;
  }

  :global(.osIcon) {
    display: block;
    margin-bottom: 20px;
    width: 1.8rem;
    height: auto;
    margin-inline: auto;
  }

  .heart {
    color: var(--heart);
  }

  .links {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 20px;
    font-size: 1.6rem;
  }

  :global(.linksIcon) {
    display: block;
    width: 1.5rem;
    height: auto;
    margin-inline: auto;
  }

  .madeBy {
    text-align: center;
  }

  .textMuted {
    color: var(--text-muted);
    font-size: 0.875rem;
  }

  :global(.fab) {
    font-family: --fa-style-family-brands;
  }
</style>
